*.xml
.idea/dataSources/45a72aed-c98b-4f46-b296-331c3da03fc1/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/45a72aed-c98b-4f46-b296-331c3da03fc1/storage_v2/_src_/schema/swhc.XxI2AA.meta
.idea/dataSources/45a72aed-c98b-4f46-b296-331c3da03fc1/storage_v2/_src_/schema/swhc.XxI2AA.zip
